*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Noto Sans Thai", sans-serif;
   
}
html{
    font-size: 90%;
    
}

.container{
    max-width: 1200px;
    margin: auto;
}

@media (max-width: 815px){
    html{
        font-size: 70%;
    }
}
@media (max-width: 600px){
    html{
        font-size: 60%;
    }
}
